$nav_color:rgba(0, 0, 0, 0.8);
$nav_height: 2%;
$fontsize: 24px;
$background1: white;

body{
  background-image:url('https://static.zerochan.net/Cowboy.Bebop.full.1740557.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left center;
  background-size: cover;
  z-index: -1;

}

.navgation{
  background-color: $nav_color;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  z-index: 999;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  -ms-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s;

}

#text{
  float:left;
  font-family: cursive;
  display: block;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
  color:White;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;

}
.navgation li {
  font-family: cursive;
  float: right;
  display: block;
  margin:0;
  margin-bottom:0;
  font-size: $fontsize;
  color:white;
  //a{
  margin:0;
  margin-bottom:0;
  padding:14px 16px;
  text-decoration: none;
  //}
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;

}

.smaller{
  height: 7%;
}



.smaller div#text{
  font-size: 90%;

}

.smaller nav li{
  font-size: 90%;
  //line-height: 80%;
}

.navgation li.active{
  color: white;
  background-color: grey;
}

.navgation li:hover{
  margin-bottom:0;
  background-color: rgba(247, 237, 233,0.8);


}

.break{
  height: 20px;
}

.top{
  margin-top: 10%;
  height:30px;
  width: 100%;
  //position:relative;
  //background: rgba(244, 66, 66, 0.5);

}

#home, #abou, #history {
  position:relative;
  top:0;
  left:0;

  padding:0;
  margin: 0;
  margin-right:0;
  text-align:center;

}

#home{
  position:relative;
  height:500px;
  width:100%;
  margin:auto;
  color: white;
  opacity:0.9;
  background: rgba(255,255,255,0);


}

.slide h1{
  font-family: cursive;
}

#slides{
  padding:0;
}


.slide{
  text-align:center;
  left:0px;
  top:0px;
  width:100%;
  height:100%;
  opacity:0;
  z-index:1;
  padding:0;

  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}


.first{
  z-index:3;
  opacity:1;
}



.slide{
  font-size: 20px;
  background: #000000;
  color: #ffffff;
  width: 100%;
  height:100%;
}

.slide:nth-of-type(1){
  max-width:100%;
  height:100%;

}
.slide h1{
  position:absolute;
  top:50%;
  left:50%;
  transform: translateX(-50%) translateY(-50%);

}
.slide #firs{
  max-width:100%;
  height:100%;
  z-index: -1;
}

.slide #second{
  opacity: 0.7;
  width:100%;
  height:100%;
}

.slide #third{
  width:100%;
  height:100%;
  opacity: 0.7;
}

.slide #forth{
  width:100%;
  height: 100%;
  opacity: 0.8;
}

.slide #fifth{
  width:100%;
  height: 100%;
  opacity: 0.9;
}

.slide:nth-of-type(2){
  position: absolute;
  background:grey;
  width:100%;
  height:100%;

}

.slide:nth-of-type(3){
  position: absolute;
  background:grey;
  width:100%;
  height:100%;
}

.slide:nth-of-type(4){
  position: absolute;
  width:100%;
  height:100%;
  background:grey;
}

.slide:nth-of-type(5){
  position: absolute;
  background:grey;
  width:100%;
  height:100%;
}

#right_icon{
  font-size: 40px;
  color: white;
  z-index:998;
  position: absolute;
  top: 50%;
  left: 95%;
  transform: translateY(-50%);
}

#right_icon:hover{
  font-size:50px;
  color: black;
}


#left_icon{
  font-size: 40px;
  z-index:998;
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
}

#left_icon:hover{
  font-size:50px;
  color: black;

}



#abou{
  height:600px;
  padding-top:10%;
  line-height: 30px;

  color: white;
  background: rgba(0,0,0,0.5);
}

.passage{
  position:absolute;
  top:50%;
  font-family: cursive;
  padding-left:3%;
  padding-right:3%;
  transform: translateY(-50%);
}




#history{
  height:800px;
  color: white;
  width: 100%;
  background-color:rgba(0,0,0,0.8);
  margin: auto;
  h1{
    font-family: cursive;
  }
}

/*source: https://stackoverflow.com/questions/15550974/how-to-make-a-3-column-fully-responsive-image-grid-in-html-css*/

.container {

  width: 100%;
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;
  clear: both;
}

.col-3 {
  float: left;
  width: 30.8%;
  margin-right: 3.8%;
}

.last { margin-right: 0;
  overflow:hidden;
}

.ending{
  font-size:70px;
  font-family: cursive;
  margin:auto;
}



//for model use


.modal{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 999; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.mmodal{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 999; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.mmmodal{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 999; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


.content{
  position:relative;
  background-color: rgba(255,255,255,0.8);
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid black;
  width: 80%; /* Could be more or less, depending on screen size */
  height:80%;
  z-index: -1;
}

.ed_video{
  position:absolute;
  top: 50%;
  left:50%;
  transform: translateX(-50%) translateY(-50%);
}

.faye_video {
  position:absolute;
  top: 50%;
  left:50%;
  transform: translateX(-50%) translateY(-50%);

}

.spike_video{
  position:absolute;
  top: 50%;
  left:50%;
  transform: translateX(-50%) translateY(-50%);

}

.close {
  z-index: 998;
  color: #aaa;
  float:right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.close1 {
  z-index: 998;
  color: #aaa;
  float:right;
  font-size: 28px;
  font-weight: bold;
}

.close1:hover,
.close1:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.close2 {
  z-index: 998;
  color: #aaa;
  float:right;
  font-size: 28px;
  font-weight: bold;
}

.close2:hover,
.close2:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}




footer{
  height: 40px;
  background: grey;
  color:black;
  opacity: 0.8;
  position: relative;
}

.foot{
  margin: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

#left:hover{
  opacity: 0.5;
}

#middle:hover{
  opacity:0.5;
}

#right:hover{
  opacity:0.5;
}
